<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/> <!-- cranberryai -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vegan"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- kakao 로그인 화면으로 이동하기 위한 kakao.sdk에 존재하는 AuthCodeHandler를 추가-->
<!--        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->

<!--                <data android:host="oauth"-->
<!--                    android:scheme="kakao{d1389f930f4c488f8df3754502736280}"/>-->
<!--            </intent-filter>-->

<!--        </activity>-->

        <activity
            android:name=".TextRecognitionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

<!--        <activity android:name=".RecognitionActivity_test"/>-->
        <activity android:name=".challenge"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".ListActivity"/>
        <activity android:name=".BoardRegisterActivity"/>
        <activity android:name=".RegisterActivity"/>
<!--        <activity android:name=".LoginActivity"/>-->
        <activity android:name=".RecommendActivity"/>
<!--        <activity android:name=".MyPageActivity"/>-->
        <activity android:name=".FindActivity"/>
        <activity android:name=".ListviewAdd"/>
        <activity android:name=".LikeActivity"/>
        <activity android:name=".AllergyActivity"/>
        <activity android:name=".smartLens"/>
        <activity android:name=".CameraActivity"/>
        <activity android:name=".RecipeRegisterActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".answer1"/>
        <activity android:name=".answer2"/>
        <activity android:name=".answer3"/>
        <activity android:name=".answer4"/>
        <activity android:name=".answer5"/>
        <activity android:name=".answer6"/>
        <activity android:name=".answer7"/>
        <activity android:name=".MainActivity"/>



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>